  <nav class="navbar navbar-light d-flex">
    <span class="navbar-brand w-100"><a href="/">{{ site.title }}</a><br><small>{{ site.description }}</small></span>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link pl-0" href="https://twitter.com/nikriek"><i class="fa fa-twitter"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://angel.co/nikriek"><i class="fa fa-angellist"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/nikriek"><i class="fa fa-github"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.linkedin.com/in/nikriek/"><i class="fa fa-linkedin"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://devpost.com/nikriek"><img src="/images/devpost-icon-black.svg" 
  width="16" height="16"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mailto:nikriek@gmail.com"><i class="fa fa-paper-plane"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://soundcloud.com/nikriek"><i class="fa fa-soundcloud"></i></a>
      </li>
    </ul>
  </nav>
