  <nav class="navbar navbar-light">
    <span class="navbar-brand"><a href="/">{{ site.title }}</a> <small>Curated microblog & portfolio of a hacker</small></span>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link" href="https://twitter.com/nikriek"><i class="fa fa-twitter"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/nikriek"><i class="fa fa-github"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mailto:nikriek@gmail.com"><i class="fa fa-paper-plane"></i></a>
      </li>
    </ul>
  </nav>
